.section4outermost {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}
.left {
    width: 500px;
    padding: 30px;
}

.left p {
    font-size: 25px;
    color: grey;
}

.left span {
    color: white;
}
.btn {
    margin:20px 120px;
    padding: 10px;
    background-color: inherit;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 18px;
    width: max-content;
}
.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.right h1 {
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    line-height: 100px;
}


@media (max-width:1000px) {
    .section4outermost {
        padding: 100px 20px;
    }
}

@media (max-width:750px) {
    .section4outermost {
        flex-direction: column-reverse;
    }

    .left {
        width: 95%;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left p {
        font-size: 20px;
        text-align: center;
    }
    .btn{
        margin-top:20px;
    }

}


@media (max-width:450px) {
    .right h1 {
        font-size: 60px;
        line-height: 60px;
    }
}